<template name="authnet">
<div class="row">
  <h2>AuthNet<small> Settings</small></h2>
</div>
<div class="row">
  <div class="col-md-6 well">
    {{#autoForm collection="ReactionCore.Collections.Packages" schema="ReactionCore.Schemas.AuthNetPackageConfig" doc=packageData type="update" id="authnet-update-form"}}
      <div class="form-group">
      	Don't have a AuthNet client ID and secret? <a href="https://sandbox.authorize.net/" target="_blank">Get them here.</a>
      </div>
      {{>afQuickField name='settings.client_id'}}
      {{>afQuickField name='settings.client_secret' type="password"}}
      {{>afQuickField name='settings.mode' type="boolean-select" trueLabel="Live - Production Mode" falseLabel="Testing - Sandbox Mode" style="width: auto"}}
      <button type="submit" class="btn btn-primary pull-right">Update</button>
    {{/autoForm}}
  </div>
</div>
</template>
